* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif; }

main {
  background-color: #c7b58f;
  padding: 20px; }

footer {
  background-color: #c7ab75; }

@media (max-width: 412px) {
  .servicio-mendoza-caja {
    margin-left: 10px !important;
    margin-right: 10px !important; }
  .video-presentacion-mendoza {
    width: max-content; }
  .barra-navegacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end !important; }
  .reservas-fechas {
    margin-left: 15px !important;
    margin-right: 15px !important;
    border-radius: 15px;
    flex-direction: column;
    align-items: center; }
  div .accordion-body {
    display: flex;
    justify-content: center; }
  div .accordion-item {
    display: flex;
    justify-content: center; }
  div .carrousel-iner {
    margin: 20px; }
  .card-mobile {
    display: block;
    font-size: xx-small; }
  .card-mobile {
    display: block; }
  .grid-padre {
    display: none; }
  .card {
    margin: 20px;
    background-color: #c7ab75 !important;
    justify-content: center; }
  h6 {
    text-align: center; }
  .titulo-paquetes-mobile {
    font-family: monospace;
    font-size: xx-large;
    text-decoration: none;
    color: #bc8a1e; }
  .card-text {
    font-family: monospace;
    font-size: large;
    text-decoration: none;
    color: blanchedalmond; }
  .autos {
    display: flex;
    align-items: center;
    flex-direction: column; }
  .cronos {
    max-width: 275px; } }

header {
  background-image: linear-gradient(#efe8f0, #a96e32);
  padding: 10px; }

.logo {
  -webkit-animation: jello-horizontal 0.9s 1 both;
  animation: jello-horizontal 0.9s 1 both; }

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.logo {
  width: 160px;
  margin: 10px; }

.barra-navegacion ::first-letter {
  text-transform: uppercase; }

.barra-navegacion {
  font-size: larger;
  display: flex;
  justify-content: center; }

a {
  color: #ee670c;
  list-style: none;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  font-size: xx-large;
  font-weight: 200px;
  text-decoration: none;
  font-family: monospace; }

a:link {
  color: #9d720d; }

a:visited {
  color: #0d7121; }

main {
  color: blanchedalmond; }

.servicio-mendoza-caja {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c7ab75;
  margin-left: 170px;
  margin-right: 170px;
  border-radius: 15px; }

h1 {
  color: chocolate !important;
  font-family: monospace;
  font-size: large;
  font-weight: bolder; }

.video-presentacion-mendoza {
  padding: 10px;
  padding-bottom: 20px; }

article {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.reservas-fechas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #c7ab75;
  margin-left: 350px;
  margin-right: 350px;
  border-radius: 15px; }

h2 {
  font-family: monospace;
  font-size: x-large;
  font-weight: bolder;
  color: #2e1c3e;
  margin: 40px;
  padding: 10px; }

article .que-hacer {
  width: 1000px;
  display: flex;
  justify-content: center; }

.hacer-provincia {
  font-family: monospace;
  color: chocolate;
  margin-top: 55px;
  margin-bottom: 10px; }

.ver-mas {
  margin-top: 60px;
  margin-left: 10px;
  text-decoration: none;
  font-size: larger; }

h2 .reservas {
  background-color: chocolate; }

.reservas {
  text-transform: uppercase;
  background-color: #0b611c;
  border-radius: 5px; }

.fecha-reserva {
  margin: 40px;
  padding: 10px;
  border: double; }

.experiencias {
  margin-top: 30px; }

h4 {
  margin: 12px;
  padding: 20px;
  font-family: monospace;
  font-size: x-large;
  color: chocolate !important;
  display: flex;
  justify-content: center; }

h4 {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

.card-title-2 {
  font-family: monospace;
  font-size: larger;
  text-decoration: none;
  color: #c39f51; }

.card-text-2 {
  font-family: monospace;
  font-size: large;
  text-decoration: none;
  color: #af7e13; }

@media (max-width: 412px) {
  .servicio-mendoza-caja {
    margin-left: 10px !important;
    margin-right: 10px !important; }
  .video-presentacion-mendoza {
    width: max-content; }
  .barra-navegacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end !important; }
  .reservas-fechas {
    margin-left: 15px !important;
    margin-right: 15px !important;
    border-radius: 15px;
    flex-direction: column;
    align-items: center; } }

#accordionExample {
  max-width: 850px;
  margin: auto; }

.container-xl {
  height: 60vh;
  width: 60vw; }

.accordion-item {
  background-color: #dedfc4 !important; }

.accordion-button {
  background-color: #cecfb4 !important;
  color: #0b611c !important; }

@media (max-width: 412px) {
  div .accordion-body {
    display: flex;
    justify-content: center; }
  div .accordion-item {
    display: flex;
    justify-content: center; }
  div .carrousel-iner {
    margin: 20px; }
  .card-mobile {
    display: block;
    font-size: xx-small; } }

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 10px; }

.grid-item {
  border-radius: 15px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #c7ab75;
  padding-top: 10px;
  padding-bottom: 2px;
  text-align: center; }

.titulo-paquetes {
  font-size: larger;
  font-family: monospace; }

.grid-texto {
  font-family: monospace;
  font-size: large;
  text-decoration: none;
  color: blanchedalmond; }

.grid-padre {
  display: block; }

.card-mobile {
  display: none; }

@media (max-width: 412px) {
  .card-mobile {
    display: block; }
  .grid-padre {
    display: none; }
  .card {
    margin: 20px;
    background-color: #c7ab75 !important;
    justify-content: center; }
  h6 {
    text-align: center; }
  .titulo-paquetes-mobile {
    font-family: monospace;
    font-size: xx-large;
    text-decoration: none;
    color: #bc8a1e; }
  .card-text {
    font-family: monospace;
    font-size: large;
    text-decoration: none;
    color: blanchedalmond; } }

.text-uppercase {
  background-color: #c7ab75;
  border-radius: 15px; }

h5 {
  font-family: monospace;
  font-size: large;
  margin: 15px;
  padding-top: 30px;
  display: flex;
  justify-content: center; }

.autos {
  display: flex;
  justify-content: center; }

.cronos {
  max-height: 183px; }

.cuatro-pasajeros {
  margin: 20px; }

.cinco-pasajeros {
  margin: 20px; }

.dieciocho-pasajeros {
  margin: 20px; }

@media (max-width: 412px) {
  .autos {
    display: flex;
    align-items: center;
    flex-direction: column; }
  .cronos {
    max-width: 275px; } }

.main-galeria {
  min-height: 246px; }

.carousel-inner {
  justify-content: space-evenly; }

.contacto-paquetes {
  width: 200px;
  margin: 20px;
  padding: 15px;
  text-transform: uppercase;
  background-color: #196028;
  border-radius: 15px; }

.enviar {
  margin: 10px; }

.reservas-fechas-paquetes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #adae7b;
  margin-left: 350px;
  margin-right: 350px;
  border-radius: 15px; }

@media (max-width: 412px) {
  .reservas-fechas-paquetes {
    margin-left: 15px !important;
    margin-right: 15px !important;
    border-radius: 15px;
    flex-direction: column;
    align-items: center; } }

.div-footer {
  display: flex;
  justify-content: space-evenly; }
