* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif; }

main {
  background-color: #c7b58f;
  padding: 20px; }

@media (max-width: 412px) {
  .video-presentacion-mendoza {
    width: max-content; }
  .barra-navegacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end !important; }
  .reservas-fechas {
    margin-left: 15px !important;
    margin-right: 15px !important;
    border-radius: 15px;
    flex-direction: column;
    align-items: center; }
  div .accordion-body {
    display: flex;
    justify-content: center; }
  div .accordion-item {
    display: flex;
    justify-content: center; }
  div .carrousel-iner {
    margin: 20px; }
  .tabla-paquetes {
    display: none; }
  .card-mobile {
    display: block;
    font-size: xx-small; } }

header {
  background-image: linear-gradient(#efe8f0, #a96e32);
  padding: 10px; }

.logo {
  -webkit-animation: jello-horizontal 0.9s 1 both;
  animation: jello-horizontal 0.9s 1 both; }

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.logo {
  width: 160px;
  margin: 10px; }

.barra-navegacion ::first-letter {
  text-transform: uppercase; }

.barra-navegacion {
  font-size: larger;
  display: flex;
  justify-content: center; }

a {
  color: #ee670c;
  list-style: none;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  font-size: xx-large;
  font-weight: 200px;
  text-decoration: none;
  font-family: monospace; }

a:link {
  color: #9d720d; }

a:visited {
  color: #0d7121; }

main {
  color: blanchedalmond; }

.servicio-mendoza {
  display: flex;
  flex-direction: column;
  align-items: center; }

h1 {
  color: chocolate !important;
  font-family: monospace;
  font-size: large;
  font-weight: bolder; }

article {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.reservas-fechas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #c7ab75;
  margin-left: 350px;
  margin-right: 350px;
  border-radius: 15px; }

h2 {
  font-family: monospace;
  font-size: x-large;
  font-weight: bolder;
  color: #2e1c3e;
  margin: 40px;
  padding: 10px; }

article .que-hacer {
  width: 1000px;
  display: flex;
  justify-content: center; }

.hacer-provincia {
  font-family: monospace;
  color: chocolate;
  margin-top: 55px;
  margin-bottom: 10px; }

.ver-mas {
  margin-top: 60px;
  margin-left: 10px;
  text-decoration: none;
  font-size: larger; }

h2 .reservas {
  background-color: chocolate; }

.reservas {
  text-transform: uppercase;
  background-color: #0b611c;
  border-radius: 5px; }

.fecha-reserva {
  margin: 40px;
  padding: 10px;
  border: double; }

.experiencias {
  margin-top: 30px; }

h4 {
  font-family: monospace;
  font-size: x-large;
  color: chocolate !important;
  display: flex;
  justify-content: center; }

.card-title-2 {
  font-family: monospace;
  font-size: larger;
  text-decoration: none;
  color: #c39f51; }

.card-text-2 {
  font-family: monospace;
  font-size: large;
  text-decoration: none;
  color: #af7e13; }

.container-xl {
  height: 60vh;
  width: 60vw; }

/* probando */
.grilla-padre1 {
  background-color: #c4d7b2;
  border: 4px #0c4040 dotted;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.paquetes-turisticos {
  width: 1200px;
  margin: auto; }

.img-1 {
  width: 400px;
  padding: 5px;
  text-align: center; }

.img-2 {
  width: 400px;
  padding: 5px;
  text-align: center; }

.img-3 {
  width: 400px;
  padding: 5px;
  text-align: center; }

.titulos-paquetes {
  font-family: monospace;
  font-size: large;
  color: #2e1c3e;
  font-weight: bolder; }

.paquete-1 {
  padding: 5px;
  text-align: center; }

.paquete-2 {
  padding: 5px;
  text-align: center; }

.paquete-3 {
  padding: 5px;
  text-align: center; }

.info-paquetes {
  font-family: monospace;
  font-size: medium;
  color: #2e1c3e; }

.info-1 {
  padding: 5px;
  text-align: left; }

.info-2 {
  padding: 5px;
  text-align: left; }

.info-3 {
  padding: 5px;
  text-align: left; }

.tabla-paquetes {
  display: block; }

.card-mobile {
  display: none; }

h5 {
  font-family: monospace;
  font-size: large;
  color: #2e1c3e;
  margin: 15px;
  display: flex;
  justify-content: center;
  text-decoration: underline; }

.autos div {
  display: flex;
  justify-content: center; }

.main-galeria {
  min-height: 246px; }

.carousel-inner {
  justify-content: space-evenly; }

footer {
  background-color: #c7ab75; }

.div-footer {
  display: flex;
  justify-content: space-evenly; }
