header {
  background-image: linear-gradient(#efe8f0, hsl(30, 54%, 43%));
  padding: 10px;
}

.logo {
  -webkit-animation: jello-horizontal 0.9s 1 both;
  animation: jello-horizontal 0.9s 1 both;
  width: 160px;
  margin: 10px;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  /* Resto de los keyframes... */
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  /* Resto de los keyframes... */
}

.barra-navegacion ::first-letter {
  text-transform: uppercase;
}

.barra-navegacion {
  font-size: larger;
  display: flex;
  justify-content: center;
}

a {
  color: rgb(238, 103, 12);
  list-style: none;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  font-size: xx-large;
  font-weight: 200px;
  text-decoration: none;
  font-family: monospace;
}

a:link {
  color: rgb(157, 114, 13);
}

a:visited {
  color: rgb(13, 113, 33);
}