.carousel-container {
    display: flex;
    justify-content: center;
}

#accordionExample {
    max-width: 850px;
    margin: auto;
}

.accordion-item {
    background-color: rgb(222, 223, 196) !important;
}

.accordion-button {
    background-color: rgb(206, 207, 180) !important;
    color: rgb(11, 97, 28) !important;
}

.imagen-carrousel {
    width: 600px;
}

@media(max-width: 412px) {
    main {
        min-height: 700px;
    }
    
    #accordionExample {
        margin: auto;
    }
    
    div .accordion-body {
        display: flex;
        justify-content: center;
    }
    
    div .accordion-item {
        display: flex;
        justify-content: center;
    }
    
    .imagen-carrousel {
        width: 300px;
    }
    
    div .carrousel-iner {
        margin: 20px;
    }
}