main {
    color: blanchedalmond;
}

.servicio-mendoza {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: chocolate !important;
    font-family: monospace;
    font-size: large;
    font-weight: bolder;
}



// p {
//     font-size: x-large;
//     font-weight: bold;
//     font-family: monospace;
//     color: rgb(46, 28, 62);
//     margin: 10px;
// }

article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.reservas-fechas {
    margin: 10px;
}

h2 {
    font-family: monospace;
    font-size: x-large;
    font-weight: bolder;
    color: rgb(46, 28, 62);
    margin: 40px;
    padding: 10px;
}

div {
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: 27, 127, 204, .8
}

article .que-hacer {
    width: 1000px;
    display: flex;
    justify-content: center
}

.hacer-provincia {
    font-family: monospace;
    color: chocolate;
    margin-top: 55px;
    margin-bottom: 10px;
}

.ver-mas {
    margin-top: 60px;
    margin-left: 10px;
    text-decoration: none;
    font-size: larger
}

h2 .reservas{
    background-color: chocolate;
}

h4 {
    font-family: monospace;
    font-size: x-large;
    color: chocolate !important;
    display: flex;
    justify-content: center;
}

.reservas {
    text-transform: uppercase;
    background-color: rgb(103, 170, 189);
}


.fecha-reserva {
    margin: 40px;
    padding: 10px;
    border: double
}


.card-title-2 {
    font-family: monospace;
    font-size: larger;
    text-decoration: none;
    color: rgb(195, 159, 81)
}

.card-text-2 {
    font-family: monospace;
    font-size: large;
    text-decoration: none;
    color: rgb(175, 126, 19);
}