main{
    color: blanchedalmond;
}

.servicio-mendoza-caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c7ab75;
    margin-left : 170px;
    margin-right: 170px;
    border-radius: 15px;
}

h1 {
    color: chocolate !important;
    font-family: monospace;
    font-size: large;
    font-weight: bolder;
}
.video-presentacion-mendoza{
padding: 10px;
padding-bottom: 20px;
}

article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.reservas-fechas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: (#c7ab75);
    margin-left : 350px;
    margin-right: 350px;
    border-radius: 15px;
}

h2 {
    font-family: monospace;
    font-size: x-large;
    font-weight: bolder;
    color: rgb(46, 28, 62);
    margin: 40px;
    padding: 10px;
}

article .que-hacer {
    width: 1000px;
    display: flex;
    justify-content: center
}

.hacer-provincia {
    font-family: monospace;
    color: chocolate;
    margin-top: 55px;
    margin-bottom: 10px;
}

.ver-mas {
    margin-top: 60px;
    margin-left: 10px;
    text-decoration: none;
    font-size: larger
}

h2 .reservas{
    background-color: chocolate;
}

.reservas {
    text-transform: uppercase;
    background-color:  rgb(11, 97, 28);
    border-radius: 5px;
}

.fecha-reserva {
    margin: 40px;
    padding: 10px;
    border: double
}

.experiencias{
margin-top: 30px;
}

h4 {
    margin: 12px;
    padding: 20px;
    font-family: monospace;
    font-size: x-large;
    color: chocolate !important;
    display: flex;
    justify-content: center;
}
h4{
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }


.card-title-2 {
    font-family: monospace;
    font-size: larger;
    text-decoration: none;
    color: rgb(195, 159, 81)
}

.card-text-2 {
    font-family: monospace;
    font-size: large;
    text-decoration: none;
    color: rgb(175, 126, 19);
}


@media(max-width:412px) {
    .servicio-mendoza-caja {
        margin-left : 10px !important;
        margin-right: 10px !important;
    }

    .video-presentacion-mendoza {
        width: max-content;
    }

    .barra-navegacion {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end !important;
    }

    .reservas-fechas {
        margin-left: 15px !important;
        margin-right: 15px !important;
        border-radius: 15px;
        flex-direction: column;
        align-items: center
    }
}