h5{
    font-family: monospace;
    font-size: large;
    color: rgb(46, 28, 62);
    margin: 15px;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.autos div{
    display: flex;
 justify-content: center;
}