.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 10px;
}

.grid-item {
    border-radius: 15px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #c7ab75;
    padding-top: 10px;
    padding-bottom: 2px;
    text-align: center;
}

.titulo-paquetes {
    font-size: larger;
    font-family: monospace;
}

.grid-texto {
    font-family: monospace;
    font-size: large;
    text-decoration: none;
    color: blanchedalmond;
}

.grid-padre {
    display: block;
}

.card-mobile {
    display: none;
}


@media(max-width:412px) {
    .card-mobile {
        display: block;
    }

    .grid-padre {
        display: none;
    }

    .card {
        margin: 20px;
        background-color: #c7ab75 !important;
        justify-content: center;
    }

    h6 {
        text-align: center;
    }

    .titulo-paquetes-mobile {
        font-family: monospace;
        font-size: xx-large;
        text-decoration: none;
        color: rgb(188, 138, 30);
    }

    .card-text {
        font-family: monospace;
        font-size: large;
        text-decoration: none;
        color: blanchedalmond;

    }
}