@media(max-width:412px){
    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    }

    div .accordion-body{
        display: flex;
        justify-content: center;
    }

    div .accordion-item{
        display: flex;
        justify-content: center;
    }

    div .carrousel-iner{
        margin: 20px;
    }

    .tabla-paquetes{
        display: none;
    }

    .card-mobile{
        display: block;
        font-size: xx-small;
    }
}