@media(max-width:412px){
    
    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end !important;
        align-items: center;
    }

    

    .hijo1-container{
font-size: small;
    }

    .hijo2-container{
        font-size: small;
    }

    .hijo3-container{
        font-size: small;
    }

    div .accordion-body{
        display: flex;
        justify-content: center;
    }

    div .accordion-item{
        display: flex;
        justify-content: center;
    }

    div .carrousel-iner{
        margin: 20px;
    }

    .tabla-paquetes{
        display: none;
    }

    .card-mobile{
        display: block;
        font-size: xx-small;
    }
}