@media(max-width:412px) {
    .video-presentacion-mendoza {
        width: max-content;
    }

    .barra-navegacion {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end !important;
    }

    .reservas-fechas {
    margin-left: 15px !important;
    margin-right: 15px !important;
        border-radius: 15px;
        flex-direction: column;
        align-items: center
    }


    div .accordion-body {
        display: flex;
        justify-content: center;
    }

    div .accordion-item {
        display: flex;
        justify-content: center;
    }

    div .carrousel-iner {
        margin: 20px;
    }

    .tabla-paquetes {
        display: none;
    }

    .card-mobile {
        display: block;
        font-size: xx-small;
    }
}